<h1 class="text-center text-theme-primary">{{ thisPage }}</h1>
<hr>
<div class="container-fluid px-0">
    <div class="row mx-2">
        <div class="col-3 d-flex align-items-center">
            <div class="d-flex justify-content-start align-items-center w-100">
                <label for="perpage">Show : &nbsp;</label>
                <select name="perpage" class="form-control form-select w-25" id="perpage" [(ngModel)]="perPage">
                    <option *ngFor="let count of records" value="{{count}}">{{count}}</option>
                </select>&nbsp; Products per page
            </div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="d-flex justify-content-center align-items-center w-100">
                <div class="input-group">
                    <span class="input-group-text bg-white border-end-0"><i class="bi bi-search"></i></span>
                    <input type="search" name="search" id="search" class="form-control border-start-0 ps-0"
                        [(ngModel)]="search" (keyup)="searchProducts()" placeholder="Search Products Here">
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="d-flex justify-content-center align-items-center w-100">
                <div class="btn btn-group">
                    <button class="btn btn-primary text-white" data-bs-toggle="modal"
                        data-bs-target="#createproductsModal">
                        <i class="bi bi-box2 pe-2"></i>Create
                    </button>
                    <button class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#bulkUploadModal">
                        <i class="bi bi-filetype-csv pe-2"></i>Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
            <div class="text-end">
                <pagination-controls class="pagination" id="allProducts" [maxSize]="5" [autoHide]="true"
                    [responsive]="true" previousLabel="" nextLabel="" (pageChange)="page = $event">
                </pagination-controls>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid" [ngClass]="{'loading-effect': inProgress}" loading="Loading Products...">
    <div class="alert alert-sm alert-info text-center mt-2" *ngIf="(productsList.length == 0)"><i
            class="bi bi-info-circle pe-2"></i>No Products in Database</div>
    <div class="products-grid py-2" *ngIf="productsList.length > 0">
        <div class="product"
            *ngFor="let prdct of productsList | paginate: { itemsPerPage: perPage, currentPage: page, id: 'allProducts' }"
            (click)="openProductDetails($event, prdct?.pid)">
            <div class="product-header">
                <div class="img position-relative">
                    <img src="{{ prdct?.image }}" alt="Dining Table" class="w-100">
                    <div class="wishlist">
                        <div class="btn-group btn-group-verticle ">
                            <button class="btn"><i class="bi bi-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-body p-2">
                <p>
                    <span class="fw-bold text-theme-secondary price">&#8377; {{ prdct?.price }} <small
                            class="text-secondary"><s>&nbsp;xxxxx&nbsp;</s></small></span><br>
                    <small class="text-savesoil-primary fw-bold">50% Off</small><br>
                    <span><small class="text-muted fw-bold">{{ prdct?.brandName }}</small></span><br>
                    <span class="title">{{ prdct?.name }}</span>
                </p>
                <div class="text-center">
                    <div class="btn-group w-100">
                        <button class="btn btn-info text-white" (click)="setProductData('update', prdct.pid, $event)"
                            data-bs-toggle="modal" data-bs-target="#eidtproductsModal"><i
                                class="bi bi-pencil pe-2"></i>Edit</button>
                        <button class="btn btn-danger" (click)="deleteProduct(prdct.pid)"><i
                                class="bi bi-trash pe-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bulkUploadModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="loginModalLabel">Upload CSV</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #bulkUploadForm="ngForm" (ngSubmit)="bulkUpdate(bulkUploadForm.value)">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="alert alert-secondary">
                            <span class="fw-bold">Note: </span> Only CSV Files Are accepted!
                        </div>
                        <div class="alert alert-sm p-2 text-capitalize"
                            [ngClass]="{'d-none': (alerts.status == 'none'), 'alert-success': (alerts.status == 'success'), 'alert-danger': (alerts.status == 'error')}"
                            *ngIf="alerts.for == 'bulkUpload'">
                            <i class="bi bi-exclamation-circle-fill pe-2" *ngIf="(alerts.status == 'error')"></i>
                            <i class="bi bi-check-circle-fill pe-2" *ngIf="(alerts.status == 'success')"></i>
                            {{ alerts.msg }}
                        </div>

                        <!-- <div *ngIf="currentFile" class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                                [ngStyle]="{ width: progress + '%' }">
                                {{ progress }}%
                            </div>
                        </div>
                        <label class="btn btn-default">
                            <input type="file" (change)="selectFile($event)" />
                        </label>
                        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
                            Upload
                        </button>
                        <div class="alert alert-light" role="alert">{{ message }}</div> -->

                        <div class="form-group text-center">
                            <label for="bulkUpload" class="btn btn-primary bg-theme-secondary w-100"
                                [ngClass]="{'disabled': bulkInProgress}"><i class="bi bi-file-csv"></i>Upload
                                CSV</label>
                            <input type="file" name="bulkUpload" id="bulkUpload" class="form-control"
                                style="display: none;"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                ngModel #bulkFile="ngModel"  (change)="bulkUpdate($event)">
                        </div>
                        <div class="text-end my-3">
                            <button class="btn btn-success bg-theme-savesoil-primary"><i
                                    class="bi bi-filetype-csv"></i>Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="createproductsModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="loginModalLabel">Create Product</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #productsModal="ngForm" (ngSubmit)="createProduct(productsModal.value)">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form">
                            <div class="alert alert-sm p-2 text-capitalize"
                                [ngClass]="{'d-none': (alerts.status == 'none'), 'alert-success': (alerts.status == 'success'), 'alert-danger': (alerts.status == 'error')}"
                                *ngIf="alerts.for == 'create'">
                                <i class="bi bi-exclamation-circle-fill pe-2" *ngIf="(alerts.status == 'error')"></i>
                                <i class="bi bi-check-circle-fill pe-2" *ngIf="(alerts.status == 'success')"></i>
                                {{ alerts.msg }}
                            </div>
                            <div class="mb-3 form-group">
                                <label for="prdname" class="form-label">Name</label>
                                <input type="text" class="form-control" name="prdname" id="prdname"
                                    [ngClass]="{'is-invalid': prdname.errors && prdname.touched, 'is-valid': !prdname.errors && prdname.touched}"
                                    placeholder="Enter User Name" #prdname="ngModel" ngModel required>
                                <div *ngIf="prdname.touched">
                                    <p class="form-text text-danger" *ngIf="prdname.errors?.['required']">
                                        Name is a required field!
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="prdprice" class="form-label">Price</label>
                                <input type="number" class="form-control" name="prdprice" id="prdprice"
                                    [ngClass]="{'is-invalid': prdprice.errors && prdprice.touched, 'is-valid': !prdprice.errors && prdprice.touched}"
                                    placeholder="Enter Product Price" #prdprice="ngModel" ngModel required>
                                <div *ngIf="prdprice.touched">
                                    <p class="form-text text-danger" *ngIf="prdprice.errors?.['required']">
                                        Price is a required field!
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="prdstock" class="form-label">Stock</label>
                                <input type="number" class="form-control" name="prdstock" id="prdstock"
                                    [ngClass]="{'is-invalid': prdstock.errors && prdstock.touched, 'is-valid': !prdstock.errors && prdstock.touched}"
                                    placeholder="Enter Product Price" #prdstock="ngModel" ngModel required>
                                <div *ngIf="prdstock.touched">
                                    <p class="form-text text-danger" *ngIf="prdstock.errors?.['required']">
                                        Stock is a required field!
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="prdimage" class="form-label">Image URL</label>
                                <input type="text" class="form-control" name="prdimage" id="prdimage"
                                    [ngClass]="{'is-invalid': prdimage.errors && prdimage.touched, 'is-valid': !prdimage.errors && prdimage.touched}"
                                    placeholder="Enter Product Price" #prdimage="ngModel" ngModel required>
                                <div *ngIf="prdimage.touched">
                                    <p class="form-text text-danger" *ngIf="prdimage.errors?.['required']">
                                        Image URL is a required field!
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="mb-3 form-group">
                                <label for="category" class="form-label">Category</label>
                                <select name="category" class="form-select" id="category" [ngClass]="{'is-invalid': category.errors && category.touched, 'is-valid': !category.errors && category.touched}" #category="ngModel" ngModel required value="{{product?.category}}">
                                    <option value="cat1">cat1</option>
                                    <option value="cat2">cat2</option>
                                </select>
                                <div *ngIf="category.touched">
                                    <p class="form-text text-danger" *ngIf="category.errors?.['required']">
                                        Category Type is a required field!
                                    </p>
                                </div>
                            </div> -->
                            <div class="mb-3 form-group">
                                <label for="prdcategory" class="form-label">Category</label>
                                <input type="text" class="form-control" placeholder="Enter Category" name="prdcategory"
                                    id="prdcategory"
                                    [ngClass]="{'is-invalid': prdcategory.errors && prdcategory.touched, 'is-valid': !prdcategory.errors && prdcategory.touched}"
                                    #prdcategory="ngModel" ngModel required>
                                <div *ngIf="prdcategory.touched">
                                    <p class="form-text text-danger" *ngIf="prdcategory.errors?.['required']">
                                        Category Type is a required field!
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="mb-3 form-group">
                                <label for="brandName" class="form-label">Brand Name</label>
                                <select name="brandName" class="form-select" id="brandName" [ngClass]="{'is-invalid': brandName.errors && brandName.touched, 'is-valid': !brandName.errors && brandName.touched}" #brandName="ngModel" ngModel required value="{{product?.brandName}}">
                                    <option *ngFor="let brand of distinctBrands" value="{{brand?.brandName}}">{{brand?.brandName}}</option>
                                </select>
                                <div *ngIf="brandName.touched">
                                    <p class="form-text text-danger" *ngIf="brandName.errors?.['required']">
                                        Brand Name is a required field!
                                    </p>
                                </div>
                            </div> -->
                            <div class="mb-3 form-group">
                                <label for="prdbrandName" class="form-label">Brand Name</label>
                                <input type="text" class="form-control" placeholder="Enter Brand Name"
                                    name="prdbrandName" id="prdbrandName"
                                    [ngClass]="{'is-invalid': prdbrandName.errors && prdbrandName.touched, 'is-valid': !prdbrandName.errors && prdbrandName.touched}"
                                    #prdbrandName="ngModel" ngModel required>
                                <div *ngIf="prdbrandName.touched">
                                    <p class="form-text text-danger" *ngIf="brandName.errors?.['required']">
                                        Brand Name is a required field!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary btn-sm"
                                [ngClass]="{'disbaled': (inProgress || prdname.errors?.['required'] || prdprice.errors?.['required'] || prdstock.errors?.['required'] || prdimage.errors?.['required'] || prdcategory.errors?.['required'] || prdbrandName.errors?.['required']) && btnDisable}"
                                login-btn>
                                <span class="d-flex align-items-center ">
                                    <span class="spinner spinner-grow spinner-grow-sm"
                                        [class]="inProgress ? 'd-block' : 'd-none'"></span>
                                    <i class="bi bi-box2" [class]="inProgress ? 'd-none' : 'd-block'"></i>
                                    <span class="ps-2">Create</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="eidtproductsModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="loginModalLabel">Update Product</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #productsModal="ngForm" (ngSubmit)="updateProduct(productsModal.value)">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form">
                            <div class="alert alert-sm p-2 text-capitalize"
                                [ngClass]="{'d-none': (alerts.status == 'none'), 'alert-success': (alerts.status == 'success'), 'alert-danger': (alerts.status == 'error')}"
                                *ngIf="alerts.for == 'update'">
                                <i class="bi bi-exclamation-circle-fill pe-2" *ngIf="(alerts.status == 'error')"></i>
                                <i class="bi bi-check-circle-fill pe-2" *ngIf="(alerts.status == 'success')"></i>
                                {{ alerts.msg }}
                            </div>
                            <div class="mb-3 form-group">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name"
                                    [ngClass]="{'is-invalid': name.errors && name.touched, 'is-valid': !name.errors && name.touched}"
                                    placeholder="Enter User Name" #name="ngModel" ngModel required
                                    value="{{product?.name}}">
                                <div *ngIf="name.touched">
                                    <p class="form-text text-danger" *ngIf="name.errors?.['required']">
                                        Name is a required field!
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" name="price" id="price"
                                    [ngClass]="{'is-invalid': price.errors && price.touched, 'is-valid': !price.errors && price.touched}"
                                    placeholder="Enter Product Price" #price="ngModel" ngModel required
                                    value="{{product?.price}}">
                                <div *ngIf="price.touched">
                                    <p class="form-text text-danger" *ngIf="price.errors?.['required']">
                                        Price is a required field!
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="stock" class="form-label">Stock</label>
                                <input type="number" class="form-control" name="stock" id="stock"
                                    [ngClass]="{'is-invalid': stock.errors && stock.touched, 'is-valid': !stock.errors && stock.touched}"
                                    placeholder="Enter Product Price" #stock="ngModel" ngModel required
                                    value="{{product?.stock}}">
                                <div *ngIf="stock.touched">
                                    <p class="form-text text-danger" *ngIf="stock.errors?.['required']">
                                        Stock is a required field!
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="image" class="form-label">Image URL</label>
                                <input type="text" class="form-control" name="image" id="image"
                                    [ngClass]="{'is-invalid': image.errors && image.touched, 'is-valid': !image.errors && image.touched}"
                                    placeholder="Enter Product Price" #image="ngModel" ngModel required
                                    value="{{product?.image}}">
                                <div *ngIf="image.touched">
                                    <p class="form-text text-danger" *ngIf="image.errors?.['required']">
                                        Image URL is a required field!
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="mb-3 form-group">
                                <label for="category" class="form-label">Category</label>
                                <select name="category" class="form-select" id="category" [ngClass]="{'is-invalid': category.errors && category.touched, 'is-valid': !category.errors && category.touched}" #category="ngModel" ngModel required value="{{product?.category}}">
                                    <option value="cat1">cat1</option>
                                    <option value="cat2">cat2</option>
                                </select>
                                <div *ngIf="category.touched">
                                    <p class="form-text text-danger" *ngIf="category.errors?.['required']">
                                        Category Type is a required field!
                                    </p>
                                </div>
                            </div> -->
                            <div class="mb-3 form-group">
                                <label for="category" class="form-label">Category</label>
                                <input type="text" class="form-control" placeholder="Enter Category" name="category"
                                    id="category"
                                    [ngClass]="{'is-invalid': category.errors && category.touched, 'is-valid': !category.errors && category.touched}"
                                    #category="ngModel" ngModel required value="{{product?.category}}">
                                <div *ngIf="category.touched">
                                    <p class="form-text text-danger" *ngIf="category.errors?.['required']">
                                        Category Type is a required field!
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="mb-3 form-group">
                                <label for="brandName" class="form-label">Brand Name</label>
                                <select name="brandName" class="form-select" id="brandName" [ngClass]="{'is-invalid': brandName.errors && brandName.touched, 'is-valid': !brandName.errors && brandName.touched}" #brandName="ngModel" ngModel required value="{{product?.brandName}}">
                                    <option *ngFor="let brand of distinctBrands" value="{{brand?.brandName}}">{{brand?.brandName}}</option>
                                </select>
                                <div *ngIf="brandName.touched">
                                    <p class="form-text text-danger" *ngIf="brandName.errors?.['required']">
                                        Brand Name is a required field!
                                    </p>
                                </div>
                            </div> -->
                            <div class="mb-3 form-group">
                                <label for="brandName" class="form-label">Brand Name</label>
                                <input type="text" class="form-control" placeholder="Enter Brand Name" name="brandName"
                                    id="brandName"
                                    [ngClass]="{'is-invalid': brandName.errors && brandName.touched, 'is-valid': !brandName.errors && brandName.touched}"
                                    #brandName="ngModel" ngModel required value="{{product?.brandName}}">
                                <div *ngIf="brandName.touched">
                                    <p class="form-text text-danger" *ngIf="brandName.errors?.['required']">
                                        Brand Name is a required field!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary btn-sm"
                                [ngClass]="{'disbaled': (inProgress || name.errors?.['required'] || category.errors?.['required']) && btnDisable}"
                                login-btn>
                                <span class="d-flex align-items-center ">
                                    <span class="spinner spinner-grow spinner-grow-sm"
                                        [class]="inProgress ? 'd-block' : 'd-none'"></span>
                                    <i class="bi bi-pencil" [class]="inProgress ? 'd-none' : 'd-block'"></i>
                                    <span class="ps-2">Submit</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>