<h1 class="text-center text-theme-primary">{{ thisPage }}</h1>
<hr>
<div class="container-fluid px-0" *ngIf="wishlist.length > 0">
    <div class="row mx-2">
        <div class="col-3 d-flex align-items-center">
            <div class="d-flex justify-content-start align-items-center w-100">
                <label for="perpage">Show : &nbsp;</label>
                <select name="perpage" class="form-control form-select w-25" id="perpage" [(ngModel)]="perPage">
                    <option *ngFor="let count of records" value="{{count}}">{{count}}</option>
                </select>&nbsp; Products per page
            </div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="d-flex justify-content-start align-items-center w-100">
                <div class="input-group">
                    <span class="input-group-text bg-white border-end-0"><i class="bi bi-search"></i></span>
                    <input type="search" name="search" id="search" placeholder="Search Here" class="form-control border-start-0" [(ngModel)]="search">
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="d-flex justify-content-start align-items-center w-100">
                <select name="perpage" class="form-control form-select w-75" id="perpage" (change)="sortByCategory($event)">
                    <option value="">Category Sort</option>
                    <option value="{{bname}}" *ngFor="let bname of categoryList">{{ bname }}</option>
                </select>
            </div>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
            <div class="text-end">
                <pagination-controls class="pagination" id="allProducts" [maxSize]="5" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <hr>
</div>
<ng-container *ngIf="wishlist">
    <div class="container-fluid" [ngClass]="{'loading-effect': inProgress}" loading="Loading Wishlist...">
        <div class="alert alert-sm alert-info text-center mt-2" *ngIf="(wishlist.length == 0)"><i class="bi bi-info-circle pe-2"></i>No Products in Your Wishlist</div>
        <div class="products-grid py-2" *ngIf="wishlist.length > 0">
            <div class="product" *ngFor="let prdct of wishlist | filter: search | paginate: { itemsPerPage: perPage, currentPage: page, id: 'allProducts' }" (click)="openProductDetails($event, prdct?.pid)">
                <div class="product-header"><div class="img position-relative">
                        <img src="{{ prdct?.image }}" alt="Dining Table" class="w-100">
                        <div class="wishlist btn-group btn-group-vertical d-flex align-items-center justify-content-center" [ngClass]="{'active' : inWishlist(prdct?.pid)}">
                            <button class="btn btn-sm d-flex align-items-center justify-content-center" (click)="modifyWishlist(prdct?.pid)" skiproute>
                                <i title="Add to Wishlist" class="bi bi-heart" [ngClass]="{'d-none' : inWishlist(prdct?.pid)}"></i>
                                <i title="Remove from Wishlist" class="bi bi-heart-fill" [ngClass]="{'d-none' : !inWishlist(prdct?.pid)}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-body p-2">
                    <p>
                        <span class="fw-bold text-theme-secondary price">&#8377; {{ prdct?.price }} <small class="text-secondary"><s>&#8377;{{ prdct.price * 2 }}</s></small></span><br>
                        <span class="form-text mb-3" [ngClass]="{'text-danger': prdct.stock <= 5, 'text-primary': prdct.stock > 5}" *ngIf="prdct.stock != 0">Only {{ prdct.stock }} Avaliable!</span><br>
                        <small class="text-success fw-bold">50% Off</small><br>
                        <span><small class="text-muted fw-bold">{{ prdct?.brandName }}</small></span><br>
                        <span class="title">{{ truncate(prdct.name, 80) }}</span>
                    </p>
                    <div class="text-center">
                        <div class="text-center">
                            <button class="btn btn-danger w-100" (click)="modifyWishlist(prdct?.pid)">
                                <i class="bi bi-dash-circle pe-2"></i>
                                Remove From Wishlist
                            </button>
                            <hr>
                            <span class="text-danger" *ngIf="prdct.stock == 0">Product Out of Stock!</span>
                            <button class="btn btn-success w-100" (click)="orderPage(prdct.pid)" [disabled]="prdct.stock == 0">
                                <i class="bi bi-truck pe-2"></i>
                                Order Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>