<nav class="navbar navbar-expand-lg p-3 navbar-light bg-light">
  <div class="container-fluid nav-main mx-auto">
    <a class="navbar-brand" href="#"><b><span class="text-theme-primary">Magic</span><span
          class="text-theme-secondary">OfBooks</span></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto text-sm-center">
        <ng-container *ngIf="login; then profileTmplt; else authTmplt"></ng-container>
        <ng-template #profileTmplt>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center" aria-current="page"
              routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="user?.acctype == 'admin'">
            <a class="nav-link d-flex justify-content-center align-items-center" aria-current="page"
              routerLinkActive="active" routerLink="dashboard/participants">Participants</a>
          </li>
          <li class="nav-item" *ngIf="user?.acctype == 'admin'">
            <a class="nav-link d-flex justify-content-center align-items-center" aria-current="page"
              routerLinkActive="active" routerLink="dashboard/manageproducts">Manage Products</a>
          </li>
          <li class="nav-item" *ngIf="user?.acctype == 'admin'">
            <a class="nav-link d-flex justify-content-center align-items-center" aria-current="page"
              routerLinkActive="active" routerLink="dashboard/coupons">Manage Coupons</a>
          </li>
          <li class="nav-item" *ngIf="user?.acctype == 'user'">
            <a class="nav-link d-flex justify-content-center align-items-center" aria-current="page"
              routerLinkActive="active" routerLink="dashboard/cart">
              <i class="bi bi-cart3 me-2"></i>Cart
              <span class="ms-2 badge bg-primary">{{ user?.cart?.length }}</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="user?.acctype == 'user'">
            <a class="nav-link d-flex justify-content-center align-items-center position-relative" aria-current="page"
              routerLinkActive="active" routerLink="dashboard/wishlist">
              <i class="bi bi-heart-fill me-2"></i>Wishlist
              <span class="badge bg-primary ms-2">{{ user?.wishlist?.length }}</span>
            </a>
          </li>
          <li>
            <div class="btn-group btn-group-vertical">
              <a class="nav-link dropdown-toggle" href="#" profile-drpdwn data-bs-toggle="dropdown"
                data-bs-display="static" aria-expanded="false">
                <i class="bi bi-person"></i><span class="ps-2">{{ user?.name }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end p-0">
                <li *ngIf="user?.acctype == 'user'">
                  <a class="dropdown-item p-2" routerLink="dashboard/orders" routerLinkActive="active">
                    <i class="bi bi-truck pe-2"></i>
                    My Orders
                  </a>
                </li>
                <li *ngIf="user?.acctype == 'user'">
                  <a class="dropdown-item p-2" routerLink="dashboard/coupons" routerLinkActive="active">
                    <i class="bi bi-gift pe-2"></i>
                    Coupons
                  </a>
                </li>
                <li *ngIf="user?.acctype == 'admin'">
                  <a class="dropdown-item p-2" routerLink="dashboard/wishlist" routerLinkActive="active">
                    <i class="bi bi-heart pe-2"></i>
                    Wishlist<span class="ms-2 badge bg-primary">{{ user?.wishlist?.length }}</span>
                  </a>
                </li>
                <li *ngIf="user?.acctype == 'admin'">
                  <a class="dropdown-item p-2" routerLink="dashboard/cart" routerLinkActive="active">
                    <i class="bi bi-cart3 pe-2"></i>
                    Cart<span class="ms-2 badge bg-primary">{{ user?.cart?.length }}</span>
                  </a>
                </li>
                <li>
                  <button class="dropdown-item p-2" type="button" (click)="Logout()" logout-btn>
                    <i class="bi bi-box-arrow-left pe-2"></i>
                    Logout
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ng-template>
        <ng-template #authTmplt>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center" aria-current="page" routerLink="/"
              routerLinkActive="active">Store Books</a>
          </li>
          <li class="nav-item position-relative">
            <a class="nav-link d-flex justify-content-center align-items-center" href="#" data-bs-toggle="modal"
              data-bs-target="#registerModal">Register</a>
          </li>
          <li class="nav-item position-relative">
            <a class="nav-link d-flex justify-content-center align-items-center" href="#" data-bs-toggle="modal"
              data-bs-target="#loginModal">&nbsp;
              <i class="bi bi-box-arrow-in-right pe-2"></i>Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>