<div class="container-fluid">
    <div class="row bookDetails mx-auto w-75">
        <div class="col-12">
            <h1 class="text-center text-theme-secondary">Product Details</h1>
            <hr>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xsm-12 ">
            <div class="img mx-auto p-2 border text-center mb-2">
                <img src="{{ product?.image }}" alt="{{ product?.name }}" class="img-fluid">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xsm-12">
            <div class="d-flex flex-column justify-content-start">
                <span class="fw-bold form-text text-secondary">{{ product?.category }}</span>
                <hr>
                <span class="">{{ product?.name }}</span>
                <span class="d-flex justify-content-start">
                    <div class="d-flex text-primary my-2 display-4"><h4 class="me-2 fw-bold">Price: </h4>{{ product?.price }}<small class="me-2 fw-bold">/-</small></div>
                    <h2 class="text-warning my-2"><s>xxxxxx</s></h2>
                </span>
                <span class="fw-bold form-text text-secondary my-2">{{ product?.brandName }}</span>
                <span class="text-theme-secondary my-2">Only {{ product?.stock }} Items Available! <br> Order Now!</span>
                <div class="btn-group">
                    <button class="btn btn-info bg-theme-secondary text-white"><i class="bi bi-cart pe-2"></i>Add to cart</button>
                    <button class="btn btn-success bg-theme-savesoil-primary" (click)="openCheckOupPage(product?.pid)">
                        <i class="bi bi-truck pe-2"></i>
                        <span>Order Now</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>