<div class="container-fluid">
    <ng-container *ngIf="product">
        <div class="row bookDetails mx-auto w-75" [ngClass]="{'loading-effect': inProgress}" loading="Loading Products...">
            <div class="col-12">
                <h1 class="text-center text-theme-secondary">Product Details</h1>
                <hr>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xsm-12 ">
                <div class="img mx-auto p-2 border text-center mb-2">
                    <img src="{{ product?.image }}" alt="{{ product?.name }}" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xsm-12">
                <div class="d-flex flex-column justify-content-start">
                    <span class="fw-bold form-text text-secondary">{{ product?.category }}</span>
                    <hr>
                    <span class="">{{ product?.name }}</span>
                    <span class="d-flex justify-content-start">
                        <div class="d-flex text-primary my-2 display-4">&#8377; {{ product?.price }}<small class="me-2 fw-bold">/-</small></div>
                        <h2 class="text-warning my-2"><s>&#8377; {{ product.price * 2 }}</s></h2>
                    </span>
                    <span class="fw-bold form-text text-success my-2">50% Off</span>
                    <span class="fw-bold form-text text-secondary">{{ product?.brandName }}</span>
                    <span class="form-text mb-3" [ngClass]="{'text-danger': product.stock <= 5, 'text-primary': product.stock > 5}" *ngIf="product.stock != 0">Only {{ product.stock }} Avaliable!</span>
                    <div class="text-center">
                        <div class="input-group w-100">
                            <button class="input-group-text bg-primary text-white border-primary" *ngIf="!inCart(product?.pid)">
                                <i class="bi bi-plus-circle pe-none"></i>&nbsp;Add
                            </button>
                            <input type="number" name="itemsCount" id="itemsCount_{{ product?.pid }}" max="{{ product?.stock }}" min="1" value="1" class="form-control border-start-0" required *ngIf="!inCart(product?.pid)">
                            <button class="text-capitalize input-group-text btn btn-primary" *ngIf="!inCart(product?.pid)" (click)="modifyCart(product?.pid)">
                                Item(s) into
                                <i class="bi bi-cart pe-1 pe-none"></i>
                            </button>
                            <a class="input-group-text btn btn-primary w-100" *ngIf="inCart(product?.pid)" href="dashboard/cart">
                                <i class="bi bi-cart-plus pe-1"></i>
                                Show In Cart
                            </a>
                        </div>
                        <hr>
                        <button class="btn btn-primary w-100" *ngIf="!inWishlist(product.pid)" (click)="modifyWishlist(product?.pid)">
                            <i class="bi bi-heart-fill pe-1"></i>
                            Add to Wishlist
                        </button>
                        <button class="btn btn-danger w-100" *ngIf="inWishlist(product.pid)" (click)="modifyWishlist(product?.pid)">
                            <i class="bi bi-heart-fill pe-1"></i>
                            Remove From Wishlist
                        </button>
                        <hr>
                        <button class="btn btn-success w-100" (click)="orderPage(product?.pid)" [disabled]="product.stock == 0">
                            <i class="bi bi-truck pe-1"></i>
                            Order Now
                        </button>
                        <span class="text-danger" *ngIf="product.stock == 0">Out Of Stock!</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>