<hr>
<div class="d-flex justify-content-between align-items-center">
    <h2 class="text-center text-theme-secondary mb-0">Coupons & Offers</h2>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#couponModal">
        <i class="bi bi-gift pe-2"></i>
        Create Coupon
    </button>
</div>
<hr>
<div class="conatiner-fluid">
    <table class="table table-stripped table-bordered table-hover w-75 mx-auto">
        <tbody>
            <tr>
                <th>#</th>
                <th>Coupon Code</th>
                <th>Offer Price</th>
                <th>Valid Upto</th>
                <th>Validity</th>
            </tr>
        </tbody>
        <tbody>
            <tr *ngFor="let cpn of coupons | paginate: { itemsPerPage: perPage, currentPage: page, id: 'allProducts' }; let i=index">
                <td>{{ i }}</td>
                <td>{{ cpn.code }}</td>
                <td>&#8377; {{ cpn.offprice }} /-</td>
                <td>{{ cpn.expire }}</td>
                <td>
                    {{dateExpired(cpn.expire)}}
                    <span class="text-danger" *ngIf="dateExpired(cpn.expire) || cpn.validity == 0">Coupon Expired</span>
                    <span class="text-success" *ngIf="!(dateExpired(cpn.expire) || cpn.validity == 0)">Unused Coupon</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mb-0" id="exampleModalLabel">Create Coupon</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="input-group">
                        <label for="for" class="input-group-text bg-white border-end-0"><i class="bi bi-person pe-2"></i>For : </label>
                        <select name="for" id="for" class="form-select border-start-0">
                            <option value="">-</option>
                            <option value="user">Users</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="expireDays" class="input-group-text border-end-0 bg-white"><i class="bi bi-calendar-event pe-2"></i>Days</label>
                        <input type="number" name="expireDays" id="expireDays" placeholder="No. Of Days From Today" min="0" class="form-control border-start-0">
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="offPrice" class="input-group-text border-end-0 bg-white"><i class="bi bi-percent pe-2"></i>Price</label>
                        <input type="number" name="offPrice" id="offPrice" placeholder="Offer Price" min="0" class="form-control border-start-0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    <span class="spinner spinner-border spinner-border-sm pe-2" *ngIf="inProgress"></span>
                    <i class="bi bi-percent pe-2" *ngIf="!inProgress"></i>
                    Create
                </button>
            </div>
        </div>
    </div>
</div>